.authorization-container {
    min-height : 500px;
    max-height: 1200px;
    margin: auto;
    display : flex;
    width : 100%;
    background-color: lightcyan;
}

.authorization-form {
    background-color: white;
    margin: auto;
    height : 100%;
    width: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border : 1px solid grey;
}