.authorization-container {
    min-height : 500px;
    max-height: 1200px;
    margin: auto;
    display : flex;
    width : 100%;
    background-color: lightcyan;
}

.authorization-form {
    background-color: white;
    margin: auto;
    height : 100%;
    width: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border : 1px solid grey;
}

.error-span {
    border : 1px solid red;
    width : 100px;
    height: 50px;
}

.content-container {
    height: 1200px;
    margin-top : 40px;
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

.logo-style {
   color : black;
}

.my-navbar-style {
    background-color: #7D83FF;
    max-height : 30px;
}

.card-style {
    width : 27rem;
}

.container-form {
    height:550px;
    margin-top: 40px;
}

.container-form-option {
    height: 650px;
    margin-top: 40px;
}

.option-form {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

hr {
    background-color: white;
    width : 99%;
    margin: 5px;
}

.footer-color {
    background-color: #221AFF;
}

.create-form {
    margin: 10px 1px 10px 360px;
    width: 20%;
}